

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: absolute;
    padding: 0 40rem; 
    z-index: 100;
    color: var(--color-primary-dark);

    & > h1 {
        font-size: var(--default-font-size-extra-large);
        color: var(--color-white)
    }
    & > ul {
        font-size: var(--default-font-size-large);
        margin: auto 0;
        list-style: none;
        
        & > li {
            display: inline-block;
            & a {
                text-decoration: none;
                color: inherit;
            }
            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover {
                border-bottom: solid 3px var(--color-primary);
            }
        }
    }
}