.quotesCtnr {
    display: flex;
    justify-content: space-evenly;
    // background-color: blanchedalmond;
    // transform: skewX(20deg);

    & > img {
        width: 45;
    }
}


.quotes {
    text-align: center;
    position: relative;
    font-size: var(--default-font-size-extra-large);
    width: 100%;
    padding: 5rem;
    color: var(--color-secondary);
    // transform: skewX(-20deg);
        & svg {
            fill: lightgrey;
            position: absolute;
            width: 10rem;
            height: 10rem;
        }

        &__quoteLeft {
            top: 0;
            left: 2rem;
        }

        &__quoteRight {
            bottom: 0;
            right: 2rem;
        }

        &__text {
            padding: 5rem;
            
            & > span {
                font-style: italic;
            }
        }
    
}

@media only screen and (max-width: 700px) {
    .quotes {
        padding: 1rem;
        font-size: var(--default-font-size);
        & svg {
            width: 5rem;
            height: 5rem;
        }
        &__text {
            padding: 0;

            & p {}
        }
    }
}